.button-set.place-left(data-role='button-set')
  a.fg-color-white(ng-href='#/view1')
    button(ng-class="getClass('/view1')") view1
  a.fg-color-white(ng-href='#/view2') 
    button(ng-class="getClass('/view2')") view2
